


SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


COMMENT ON SCHEMA "public" IS 'standard public schema';



CREATE EXTENSION IF NOT EXISTS "pg_graphql" WITH SCHEMA "graphql";






CREATE EXTENSION IF NOT EXISTS "pg_stat_statements" WITH SCHEMA "extensions";






CREATE EXTENSION IF NOT EXISTS "pgcrypto" WITH SCHEMA "extensions";






CREATE EXTENSION IF NOT EXISTS "supabase_vault" WITH SCHEMA "vault";






CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA "extensions";





SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "public"."lottery_results" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "game_type" "text" NOT NULL,
    "draw_date" "date" NOT NULL,
    "draw_id" "text" NOT NULL,
    "winning_numbers" "jsonb" NOT NULL,
    "additional_number" integer,
    "created_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "lottery_results_game_type_check" CHECK (("game_type" = ANY (ARRAY['4D'::"text", 'TOTO'::"text"])))
);


ALTER TABLE "public"."lottery_results" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."tickets" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "user_id" "text" DEFAULT 'a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d'::"text" NOT NULL,
    "game_type" "text" NOT NULL,
    "ticket_type" "text" NOT NULL,
    "draw_date" "date" NOT NULL,
    "draw_id" "text",
    "selected_numbers" integer[] NOT NULL,
    "combinations_count" integer DEFAULT 0,
    "image_url" "text",
    "ocr_confidence" double precision,
    "metadata" "jsonb",
    "status" "text" DEFAULT 'pending'::"text",
    "prize_tier" "text",
    "winning_amount" numeric(12,2) DEFAULT 0.00,
    "ticket_serial_number" "text",
    CONSTRAINT "tickets_game_type_check" CHECK (("game_type" = ANY (ARRAY['4D'::"text", 'TOTO'::"text"]))),
    CONSTRAINT "tickets_ocr_confidence_check" CHECK ((("ocr_confidence" >= (0)::double precision) AND ("ocr_confidence" <= (1)::double precision))),
    CONSTRAINT "tickets_status_check" CHECK (("status" = ANY (ARRAY['pending'::"text", 'checked'::"text", 'won'::"text", 'lost'::"text"])))
);


ALTER TABLE "public"."tickets" OWNER TO "postgres";


CREATE OR REPLACE VIEW "public"."lottery_statistics" AS
 SELECT "game_type",
    "ticket_type",
    "count"(*) AS "total_tickets",
    COALESCE("avg"("combinations_count"), (0)::numeric) AS "avg_combinations",
    "count"(*) FILTER (WHERE ("status" = 'won'::"text")) AS "total_wins",
    "max"("created_at") AS "latest_ticket"
   FROM "public"."tickets"
  GROUP BY "game_type", "ticket_type";


ALTER VIEW "public"."lottery_statistics" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."ticket_combinations" (
    "id" bigint NOT NULL,
    "ticket_id" "uuid" NOT NULL,
    "combination_index" integer NOT NULL,
    "numbers" integer[] NOT NULL,
    "sorted_numbers" integer[] NOT NULL,
    "created_at" timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "valid_combination_length" CHECK (("array_length"("numbers", 1) = 6))
);


ALTER TABLE "public"."ticket_combinations" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."ticket_combinations_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."ticket_combinations_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."ticket_combinations_id_seq" OWNED BY "public"."ticket_combinations"."id";



CREATE TABLE IF NOT EXISTS "public"."user_subscriptions" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "text" NOT NULL,
    "subscription_data" "jsonb" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "is_active" boolean DEFAULT true
);


ALTER TABLE "public"."user_subscriptions" OWNER TO "postgres";


COMMENT ON TABLE "public"."user_subscriptions" IS 'Stores user push notification subscription data for web push';



COMMENT ON COLUMN "public"."user_subscriptions"."user_id" IS 'User identifier (can be auth.users.id or anonymous identifier)';



COMMENT ON COLUMN "public"."user_subscriptions"."subscription_data" IS 'Web Push subscription object (endpoint, keys, etc.)';



COMMENT ON COLUMN "public"."user_subscriptions"."is_active" IS 'Whether subscription is currently active';



CREATE OR REPLACE VIEW "public"."user_ticket_statistics" AS
 SELECT "user_id",
    "game_type",
    "ticket_type",
    "count"(*) AS "total_tickets",
    COALESCE("sum"("combinations_count"), (0)::bigint) AS "total_combinations",
    "count"(*) FILTER (WHERE ("status" = 'won'::"text")) AS "won_tickets",
    COALESCE("sum"("winning_amount") FILTER (WHERE ("status" = 'won'::"text")), (0)::numeric) AS "total_winnings",
    "max"("created_at") AS "latest_ticket"
   FROM "public"."tickets"
  GROUP BY "user_id", "game_type", "ticket_type";


ALTER VIEW "public"."user_ticket_statistics" OWNER TO "postgres";


ALTER TABLE ONLY "public"."ticket_combinations" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."ticket_combinations_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."lottery_results"
    ADD CONSTRAINT "lottery_results_draw_id_key" UNIQUE ("draw_id");



ALTER TABLE ONLY "public"."lottery_results"
    ADD CONSTRAINT "lottery_results_game_type_draw_date_key" UNIQUE ("game_type", "draw_date");



ALTER TABLE ONLY "public"."lottery_results"
    ADD CONSTRAINT "lottery_results_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."ticket_combinations"
    ADD CONSTRAINT "ticket_combinations_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."ticket_combinations"
    ADD CONSTRAINT "ticket_combinations_ticket_id_combination_index_key" UNIQUE ("ticket_id", "combination_index");



ALTER TABLE ONLY "public"."tickets"
    ADD CONSTRAINT "tickets_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."user_subscriptions"
    ADD CONSTRAINT "unique_user_subscription" UNIQUE ("user_id");



ALTER TABLE ONLY "public"."user_subscriptions"
    ADD CONSTRAINT "user_subscriptions_pkey" PRIMARY KEY ("id");



CREATE INDEX "idx_combinations_sorted" ON "public"."ticket_combinations" USING "gin" ("sorted_numbers");



CREATE INDEX "idx_combinations_ticket_id" ON "public"."ticket_combinations" USING "btree" ("ticket_id");



CREATE INDEX "idx_results_draw_date" ON "public"."lottery_results" USING "btree" ("draw_date" DESC);



CREATE INDEX "idx_tickets_draw_id" ON "public"."tickets" USING "btree" ("draw_id") WHERE ("draw_id" IS NOT NULL);



CREATE INDEX "idx_tickets_serial" ON "public"."tickets" USING "btree" ("ticket_serial_number") WHERE ("ticket_serial_number" IS NOT NULL);



CREATE INDEX "idx_tickets_status" ON "public"."tickets" USING "btree" ("status");



CREATE INDEX "idx_tickets_user_date" ON "public"."tickets" USING "btree" ("user_id", "draw_date" DESC);



CREATE INDEX "idx_user_subscriptions_active" ON "public"."user_subscriptions" USING "btree" ("is_active") WHERE ("is_active" = true);



CREATE INDEX "idx_user_subscriptions_user_id" ON "public"."user_subscriptions" USING "btree" ("user_id");



ALTER TABLE ONLY "public"."ticket_combinations"
    ADD CONSTRAINT "ticket_combinations_ticket_id_fkey" FOREIGN KEY ("ticket_id") REFERENCES "public"."tickets"("id") ON DELETE CASCADE;



CREATE POLICY "Users can insert their own tickets" ON "public"."tickets" FOR INSERT WITH CHECK ((("auth"."uid"())::"text" = "user_id"));



CREATE POLICY "Users can update their own tickets" ON "public"."tickets" FOR UPDATE USING ((("auth"."uid"())::"text" = "user_id"));



CREATE POLICY "Users can view their own tickets" ON "public"."tickets" FOR SELECT USING ((("auth"."uid"())::"text" = "user_id"));



CREATE POLICY "Users can view their ticket combinations" ON "public"."ticket_combinations" FOR SELECT USING (("ticket_id" IN ( SELECT "tickets"."id"
   FROM "public"."tickets"
  WHERE (("auth"."uid"())::"text" = "tickets"."user_id"))));



ALTER TABLE "public"."ticket_combinations" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."tickets" ENABLE ROW LEVEL SECURITY;




ALTER PUBLICATION "supabase_realtime" OWNER TO "postgres";


GRANT USAGE ON SCHEMA "public" TO "postgres";
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";








































































































































































GRANT ALL ON TABLE "public"."lottery_results" TO "anon";
GRANT ALL ON TABLE "public"."lottery_results" TO "authenticated";
GRANT ALL ON TABLE "public"."lottery_results" TO "service_role";



GRANT ALL ON TABLE "public"."tickets" TO "anon";
GRANT ALL ON TABLE "public"."tickets" TO "authenticated";
GRANT ALL ON TABLE "public"."tickets" TO "service_role";



GRANT ALL ON TABLE "public"."lottery_statistics" TO "anon";
GRANT ALL ON TABLE "public"."lottery_statistics" TO "authenticated";
GRANT ALL ON TABLE "public"."lottery_statistics" TO "service_role";



GRANT ALL ON TABLE "public"."ticket_combinations" TO "anon";
GRANT ALL ON TABLE "public"."ticket_combinations" TO "authenticated";
GRANT ALL ON TABLE "public"."ticket_combinations" TO "service_role";



GRANT ALL ON SEQUENCE "public"."ticket_combinations_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."ticket_combinations_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."ticket_combinations_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."user_subscriptions" TO "anon";
GRANT ALL ON TABLE "public"."user_subscriptions" TO "authenticated";
GRANT ALL ON TABLE "public"."user_subscriptions" TO "service_role";



GRANT ALL ON TABLE "public"."user_ticket_statistics" TO "anon";
GRANT ALL ON TABLE "public"."user_ticket_statistics" TO "authenticated";
GRANT ALL ON TABLE "public"."user_ticket_statistics" TO "service_role";









ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "service_role";































